/* Match History */
.match-history {
    #choose-opponent {
        margin-left: 6px;
    }
    .match-details {
        margin-top: 20px;
    }
    label {
        display: block;
    }
    div {
        font-style: italic;
        margin-bottom: 6px;
        span {
            display: block;
        }
    }
}