
.container {
    margin-top: 40px;
    h1 {
        font-family: palatino bold, helvetica, san-serif;
        margin-bottom: 20px;
        color: darkgreen;
        letter-spacing: 4px;
        text-shadow: 2px 2px 7px #ccc;
    }
    .slick-container {
        min-height: 400px;
    }
}