body {
    background: linear-gradient(#468046, #3b7d3b) !important; 
    .container {
        background: url('http://cheekyiguana.com/epl/images/epl-logo.png') center top no-repeat;
        margin-top: 0;
        h1 {
            font-family: palatino bold, helvetica, san-serif;
            margin: 8rem 0 1rem;
            color: #fff;
            letter-spacing: 4px;
            text-shadow: 3px 3px 4px #333;
            font-size: 2em;
            strong {
                color: goldenrod;
            }
        }
        #teamList {
           background: #fff;
        }
        a {
            color:#335B33;
            text-decoration: underline;
        }
    }
}
